

@import url("bootstrap-astropy.css");

div.topbar a.brand {
  background: transparent url("Pixabay_hallway-802068_1280.png") no-repeat 10px 4px;
  background-image: url("Pixabay_hallway-802068_1280.svg"), none;
  background-size: 32px 32px;

}

div.topbar ul li a.homelink {
  width: 112px;
  display: block;
  height: 20px;
  padding: 5px 0px;
  background: none;
  background-image: none;
  background-size: none;
}
